<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Frequently Asked Questions</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <style>
    .checkbox label{
      padding-left: 0px;
    }
  </style>
  <% if content_for?(:structured_data) %>
    <%= yield(:structured_data) %>
  <% end %>
{
  "@context": "http://schema.org/",
  "@type": "FAQpage",
  "mainEntity": [{
    "@type": "Question",
    "name": "How do I view or edit my Inventory Items, Kits, Barcode Items, Storage Locations, Inventory Adjustments, or Transfers?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Select 'Inventory' from the menu, followed by the topic you'd like to view"
    }
  }]
}
</script>
</head>
<body>
<section class="content">
  <div class="container-fluid">
    <%# <div class="row"> %>
      <%# <div class="col-12"> %>
        <!-- Default box -->
        <%# <div class="card card-info"> %>
          <%# <div class="card-header">
            <h2 class="card-title">Frequently Asked Questions</h2>
          </div> %>
          <%# <div class="card-body p-0"> %>
       
  
              <% @help_faq.each do |faq|%>
                <li><%= faq.question %></li>
                <li><%= faq.answer %></li>
              <%end%>
              <li>Have suggestions to help improve the app or other questions about the app? Please <a href="https://human-essential.slack.com/archives/CG1NL2MRC"><u>reach out on Slack.</u></a></li>
              <li>Not a member of the Human Essentials Slack group? <a href="https://join.slack.com/t/human-essential/shared_invite/zt-bfa8tymd-d8Ks3Mq000COcRe~nfs~zg"><u>Request a login.</u></a></li>
              <li>Still need help? Submit a support ticket <u><%= link_to 'here', support_ticket_form_url, target: '_blank' %></u> and we will do our best to follow up with you via email.</li>
              <% if current_user.organization_admin? %>
                <li>Have additional frequently asked questions to add to this page? Please complete the below:</li>
                  <%= form_for :organization_faq do |f| %>
                    <%= f.hidden_field :organization_id, :value => @current_organization.id %>
                    <%= f.text_field :question, placeholder: "Your question..." %><br>
                    <%= f.text_field :answer, placeholder: "Your answer..." %><br>
                    <%= f.submit "Save"%> <br>
                    <%= link_to  "Cancel", "", data: {action: "click->nested-form#remove_association"} %>
                    <%= f.hidden_field :_destroy %>
                  <% end %></li>
              <% end %>
          </div>
          <!-- /.card-footer-->
        <%# </div> %>
        <!-- /.card -->
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
</section>
<body>
</html>